@page "/Photographylists"

<p> Displaying array list on the page  </p>
<button @bind = photography > Click me </button>
@foreach(var types in PhotographyType){
    <p> @types </p>
}
<input type= "number" value ="5" /><button>Input Values</button>
@code{
    string[] PhotographyType = new string[] {
        "Landscape","Potrait","Car","Sunshine","Snow"
        };
    
}