@page
@model WEB315_Summer22_Assignment.Pages_photography.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>photography</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="photography.ID" />
            <div class="form-group">
                <label asp-for="photography.Name" class="control-label"></label>
                <input asp-for="photography.Name" class="form-control" />
                <span asp-validation-for="photography.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="photography.Visited" class="control-label"></label>
                <input asp-for="photography.Visited" class="form-control" />
                <span asp-validation-for="photography.Visited" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="photography.Location" class="control-label"></label>
                <input asp-for="photography.Location" class="form-control" />
                <span asp-validation-for="photography.Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="photography.Type" class="control-label"></label>
                <input asp-for="photography.Type" class="form-control" />
                <span asp-validation-for="photography.Type" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="photography.Rating" class="control-label"></label>
                <input asp-for="photography.Rating" class="form-control" />
                <span asp-validation-for="photography.Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
